


$main-color:#F8EDE3;
$sec-color:#DFD3C3;
$design-color:#D0B8A8;
$text-color:#8D493A;


$theme-colors: (
  "primary":    $sec-color,
  "secondary":  $text-color,
  "info":       $main-color,
  "dark":       black
  ) !default;